#project-sort-buttons {
  padding: 15px;
}

.sort-button {
  background-color: #e3e7ed;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid grey;
}

.sort-button:hover,
.sort-button:focus {
  background-color: green;
}

.list-item {
  padding: 15px;
}

.list-item:nth-child(even) {
  background-color: #EEE;
}

.list-item + .list-item {
  border-top: 1px solid grey;
}

.project-title {
  float: left;
  margin: 0 15px 0 0;
}

.list-item-meta {
  list-style: None;
  margin: 0;
  clear: both;
}

.list-item-meta li {
  display: inline-block;
  padding-right: 10px;
}
