.list-item {
  border: 1px solid gray;
  padding: 15px;
  margin-bottom: 15px;
}

.page-title {
  text-align: center;
  color: black;
  /*z-index: 99;*/
  position: relative;
  bottom: 5px;
  left: 0;
  right: 0;
}
